html,body{
    height: 100%;
}
img{
    max-width: 100%;
}
.navbar{
    width:100vw;
}
#about-me{
    background: url("../img/pic6.jpg") center center no-repeat;
    background-size: cover;
    width:100vw;
    height: 100vh;
}
#cover{
    background: #222 url('../img/pic6.jpg') center center no-repeat;
    background-size: cover;
    width:100vw;
    height: auto;

}
.section-content{
    padding: 5rem 0;
}
#about{
    background: url("../img/girlincar.jpg") center center no-repeat;
    background-size: cover;
    height:auto;
    width: auto;
}
.jumbotron{
    background: rgba(0,0,0,0.8);
    color: white;
    padding : 1rem;
    size: inherit;
}
#footer-main{
    background: black;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
.album {
    padding:1rem;
    width:100vw;
    background-color: #f7f7f7;
    z-index: -1;
  }
  .album .container {
      width: 100vw;
      z-index:0;
  }
  
  .card {
    float: left;
    width: 100vh;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 0;
  }
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 85%;
  }
  .nav-form{
      float:right;
  }
  
  #gallery{
      margin: 2rem 0rem;
      text-align: center;
      z-index:-1;
  }
  #gallery .carousel-inner{
      height: auto;
  }
  .col-form-label{
      color: black;
  }
  .map{
      width:100vw;
      height:50vh;
  }

.mapouter {
    text-align: left;
    height: 50vh;
    width: 50vw;
    padding:1rem;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 30vh;
    width: 50vw;
}
.nav-tabs li{
     flex:1;
}
  @media screen and (min-width:600px){
    .card {
      float: left;
      width: 50%;
      padding: .75rem;
      margin-bottom: 2rem;
      border: 0;
    }
    #gallery .carousel-inner{
        height: 90vh;
    }
    .jumbotron{
        background: rgba(0,0,0,0.8);
        color: white;
        padding : 1rem;
    }
    .map{
        width:auto;;
        height:auto;;
    }
  
  .mapouter {
      text-align: left;
      height: 50vh;
      width: 50vw;
      padding:1rem;
  }
  
  .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 30vh;
      width: 50vw;
  }
  }
  @media screen and (min-width:1000px){
    .card {
      float: left;
      width: calc(100%/3);
      padding: .75rem;
      margin-bottom: 2rem;
      border: 0;
    }
    #gallery .carousel-inner{
        height: 90 vh;
    }
    .jumbotron{
        background: rgba(0,0,0,0.8);
        color: white;
        padding : 1rem;
    }
    .map{
        width:100vw;
        height:50vh;
    }
  
  .mapouter {
      text-align: left;
      height: 50vh;
      width: 50vw;
      padding:1rem;
  }
  
  .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 30vh;
      width: 50vw;
   }
  
  }
  
  